html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.module {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #24263c;
  border-collapse: collapse;
  border-radius: 10px;
  margin: 5px;
}

.moduleHeader {
  margin-bottom: 20px;
}

.module h1 {
  font-size: large;
  margin: 0;
}

.module h2 {
  font-size: medium;
}

.center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.wrap {
  flex-wrap: wrap;
}

.divider {
  height: 1px;
  background-color: #24263c;
  width: 100%;
  margin: 20px 0;
}

.flex {
  flex: 1;
}

.flex-0 {
  flex: 0;
}
